body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container {
    background-color: #1F2937;
    
    
}
.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a, p{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
ul {
    display: flex;
    list-style: none;
   
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
li {
    display: flex;
    margin: 8px;
}
.hero-left, .hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
}
.image {
    text-align: center;
    
    color: #F9FAF8;
    width:400px;
    height:250px;
    border-radius: 25px;
    background:gray;
}
h2 {
  
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 120px;
}
.middle-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    align-content: center;
}
.small-image {
    width:150px;
    height:150px;
    border-radius: 25px;
    background:gray;
}
.middle-content {
    
    text-align: center;
    width: 150px;
    height: 350px;
}
.container-lower {
    background-color: #E5E7EB;
}

.lower-content {
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.wrapper-signup {
    max-width: 1160px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup-content {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #3882F6;
    border-radius: 25px;
    color: #E5E7EB;
}
.signup-text {
    font-size: 36px;
}
.signup-left {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    
    padding-left: 20px;
}
.signup-right {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    justify-content:center;
    align-content: center;
}
.footer {
    width: 1160px;
    height: 50px;
    margin-top: 20px;
    color: #E5E7EB;
    text-align: center;
}